<mat-toolbar class="navbar-color">

<!----------------------------------------------HOME BUTTON--------------------------------------------------->    
  <div class="container navbar-container">
    <span id="japa">地点</span>
    <a routerLink="home" class="home-button mat-h1" id="home-title">Stark Industries</a>

<!-----------------------------------------SEARCH BAR  BUTTON--------------------------------------------------->    
    <mat-form-field  class="example-spacer" appearance="outline">
      <mat-label><b>What are you looking for ?</b></mat-label>
      <input matInput/>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  
<!----------------------------------------------USER BUTTON--------------------------------------------------->    
    <ng-container *ngIf="userDetails; then buttonLoggedIn; else buttonLoggedOut"></ng-container>
      <ng-template #buttonLoggedIn>
        <button 
        #menuEventLogIn="matMenuTrigger"
        [matMenuTriggerFor]="userLoged"
        mat-button
      >
          <mat-icon>person</mat-icon> {{ userDetails?.name | titlecase }}
        </button>
      </ng-template>

      <ng-template #buttonLoggedOut>
        <button 
        #menuEventLogOut="matMenuTrigger"
        [matMenuTriggerFor]="userNotLoged"
        mat-button
      >
        <mat-icon>person_outline</mat-icon> Login</button>
    </ng-template>

<!---------------------------------------------FAVORITE BUTTON------------------------------------------------>    
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>

<!-----------------------------------------------CART BUTTON----------------------------------------------------->    

  <ng-container *ngIf="userDetails; then buttonCartLoggedIn; else buttonCartLoggedOut"></ng-container>
  
  <ng-template #buttonCartLoggedIn>
    <button
    #menuEventUserCart="matMenuTrigger"
    [matMenuTriggerFor]="userCart"
    mat-icon-button
    [matBadge]="userItemCartAmount"
    matBadgeColor="warn">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  </ng-template>
  
  <ng-template #buttonCartLoggedOut>
    <button mat-icon-button><mat-icon>shopping_cart</mat-icon></button>
  </ng-template>



  </div>
</mat-toolbar>
<!-----------------------------------------MAT MENU USER BUTTON---------------------------------------------------->

<mat-menu #userNotLoged="matMenu">
  <form #form="ngForm" (ngSubmit)="login(userName.value, password.value)" (click)="$event.stopPropagation()">
    
    <div mat-menu-item [disableRipple]="true">
      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input #userName="ngModel" ngModel name="userName" matInput placeholder="Ex. Abrahan" required/>
      </mat-form-field>
    </div>

    <div mat-menu-item [disableRipple]="true">

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput #password="ngModel" ngModel name="password" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button" >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
    </div>

    <div mat-menu-item [disableRipple]="true">
        <a routerLink="register" mat-button type="button">Create</a>
        <button mat-flat-button color="primary" [disabled]="userName.invalid || password.invalid">Login</button>
    </div>

  </form>
</mat-menu>
 
<mat-menu #userLoged="matMenu">
  <a routerLink="acount_settings" mat-menu-item><mat-icon>settings</mat-icon>Settings</a>
  <div mat-menu-item>
    <button mat-flat-button color="warn" (click)="logout()"><mat-icon>logout</mat-icon> Exit</button>
  </div>
</mat-menu>

<!-----------------------------------------MAT MENU CART BUTTON---------------------------------------------------->

  <mat-menu #userCart="matMenu" class="teste">
    <ng-container *ngIf="cartValue === 0; then cartEmpty; else cartHasItem"></ng-container>
    
    <ng-template #cartEmpty>
      <span mat-menu-item [disableRipple]="true">Let's go Shopping <mat-icon>mood</mat-icon></span>
    </ng-template>

    <ng-template #cartHasItem>
      <div  mat-menu-item *ngFor="let item of itemDetails" style="display: flex; justify-content: space-between;" (click)="$event.stopPropagation()" [disableRipple]="true">      
          <span><b>{{item.title}}</b></span>  
          <div>
            <span style="color: green;">{{item.price | currency}}</span>
            <button mat-icon-button color="warn" (click)="deleteItemCart(item.id)" type="button"><mat-icon>delete_forever</mat-icon></button>
          </div>
      </div>

      <div mat-menu-item  style="display: flex; justify-content: space-between;" (click)="$event.stopPropagation()" [disableRipple]="true">
          <span style="color: green; margin-right: 10px;"><b>{{cartValue | currency}} </b></span>
          <button mat-flat-button color="primary">End Purchase</button>
        
      </div>
    </ng-template>

  </mat-menu>